.navbar{
    padding: 20px;
    background-color: black;
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.cart{
    margin:20px;
   font-size: 30px;
   position: relative;
   padding: 10px;

}
.cart-item{
    position: absolute;
    color:red;
    top:-15px;
    right:-20px;
    padding: 10px;
}
.shop{
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap:20px;
    justify-content: center;
    margin:50px;

}
.item{
    border: 1px solid;
}
.button {
    font-size: 20px;
    display: flex;
    flex-direction:row;
    gap:10px;
    margin: 10px;
    
}
/*.price{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}*/
.title{
    margin:10px;
    
}
.bi-plus-circle-fill{
    color:green;
}
.bi-dash-circle-fill
{
    color:red;
    
}
@media (max-width:1000px) {
    .shop{
        grid-template-columns: repeat(2,200px);
    }
    
}
@media (max-width:500px) {
    .shop{
        grid-template-columns: repeat(1,200px);
    }
    
}

